html {
  text-size-adjust: 100%;
}

body {
  margin: 0;
  font: 16px / 1 sans-serif;
}
. container{
    display: flex;
}

.love {
  text-align: left;
  float:left;
}

.container ul {
    list-style-type: none;
    background-color: #f1f1f1;
    text-align: center;
}
.container li {
	display: inline;
	}
.container li a {
    color: #000;
    padding: 0px 16px;
}

.container li a.active {
    background-color: #4CAF50;
    color: white;
}

.container li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.imager123 {
   display: block;
    margin: auto;
    width: 40%;
}

.love2 {
  text-align: center;
}

.c2 ul {
    list-style-type: none;
    text-align: center;
   
}
.c2 li {
	display: inline;
   padding: 0px 20px;
	}